<html>
	<body>
		<table>
			<tr>
				<td valign="top">
					<div th:include="views/admin/adminSecNav"></div> 
				</td>
				<td>
					<table>
						<tr>
							<th>
								Item
							</th>
							<th>
								Type
							</th>
							<th>
								<a th:href="@{/admin/items/?create}"><button type="button">Neu</button></a>
							</th>
						</tr>
						<tr th:each="item : ${items}">
							<td th:text="${item.name}"></td>
							<td th:text="${item.itemType}"></td>
							<td>
								<a th:href="@{'/admin/items/' + ${item.id}+ '/?edit'}"><button type="button">Edit</button></a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>