<html>
	<body>
		<table>
			<tr>
				<td>
					<a th:href="@{/admin/fieldtypes}"><button>FeldTypen</button></a>
				</td>
			</tr>
			<tr>
				<td>
					<a th:href="@{/admin/areaeditor}"><button>AreaEditor</button></a>
				</td>
			</tr>
			<tr>
				<td>
					<a th:href="@{/admin/buildingtypes}"><button>GebäudeTypen</button></a>
				</td>
			</tr>
			<tr>
				<td>
					<a th:href="@{/admin/skills}"><button>Fähigkeiten</button></a>
				</td>
			</tr>
			<tr>
				<td>
					<a th:href="@{/admin/abilities}"><button>Fertigkeiten</button></a>
				</td>
			</tr>
			<tr>
				<td>
					<a th:href="@{/admin/items}"><button>Items</button></a>
				</td>
			</tr>
		</table>
	</body>
</html>